/* Xbox One Controller - Black Higher Contrast Sticks */
/* raw link: https://raw.githubusercontent.com/bryanzzhu/gamepad_viewer_controllers/master/xbox_one_black_stick_contrast.css */
/* original: https://gamepadviewer.com/style.css */

.edit .xbox .stick {
    position: absolute;
    background: url(xbox_one_black_stick_contrast.svgz);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}
