/* Xbox One Controller - Black Higher Contrast Sticks */
/* original: https://gamepadviewer.com/style.css */

.edit.xbox .stick {
    position: absolute;
    background: url(https://www.bryanzhu.com/misc/xbox_one_black_stick_contrast.svg);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}

.edit.xbox .stick.pressed {
    background-position: 0 0;
}
